* {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: medium;
}
#head {
  display: flex;
  height: 100px;
  width: 100%;
  position: absolute;
  justify-content: start;
  background: transparent;
  backdrop-filter: blur(5px);
  flex-wrap: wrap;
}

#headertitle {
  text-shadow: 0 0 15px red;
  color: rgb(0, 255, 85);
  font-size: 3rem;
  left: 37%;
  align-self: center;
  display: flex;
  justify-content: center;
  position: absolute;
  align-content: center;
  flex: 1 0 8rem;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  background-image: url(codesnapPic/wal2.jpg);
  background-size: cover;
  gap: 100px;
}
.box {
  margin-top: 120px;
  height: 400px;
  width: 400px;
  border: 1px solid rgb(4, 243, 95);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  background: transparent;
  backdrop-filter: blur(20px);
}
.imagecats {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  max-width: 90%;
  height: 300px;
  flex-wrap: wrap;
  background: transparent;
  backdrop-filter: blur(20px);
}
.buttons {
  position: absolute;
  align-self: flex-end;
  margin-bottom: 10px;
  height: 30px;
  width: 200px;
  border-radius: 15px;
  background: transparent;
  backdrop-filter: blur(50px);
  box-shadow: 0 0 15px rgb(0, 255, 85);
  color: rgb(4, 243, 95);
  transition: transform 0.3s ease-in-out;
}
.buttons:hover {
  transform: scale(1.1);
}
p {
  font-size: 1.5rem;
  align-items: center;
  color: rgb(0, 255, 85);
  text-shadow: 0 0 15px red;
  border-radius: 10px;
}
.title {
  position: absolute;
  align-self: start;
  font-size: 1.5rem;
  color: rgb(0, 255, 85);
  text-shadow: 0 0 10px rgb(255, 0, 0);
  margin-top: 10px;
  transition: transform 0.3s ease-in-out;
}
.title:hover {
  transform: scale(1.1);
}
#quotes {
  position: absolute;
  align-self: center;
  align-content: center;
}
#author {
  display: flex;
  position: absolute;
  align-self: flex-end;
  justify-content: center;
  align-content: center;
}
.footerinfo {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  width: 50%;
  justify-content: flex-end;
}
.footername {
  display: flex;
  align-content: start;
  flex-wrap: wrap;
  width: 50%;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
#info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-self: center;
}
#iquenname {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  height: 100px;
  width: 100%;
  bottom: 0;
  background: transparent;
}
#profile {
  margin-top: 10px;
  border-radius: 80%;
  box-shadow: 0 0 10px rgb(0, 255, 85);
}
.gradesBtn {
  margin-left: 10px;
  margin-bottom: 20px;
  height: 30px;
  width: 100px;
  border-radius: 15px;
  color: rgb(0, 255, 85);
  background-color: transparent;
  box-shadow: 0 0 15px rgb(0, 255, 85);
  transition: transform 4.3 ease-in-out;
}
.gradesBtn:hover {
  transform: scale(1.1);
}
#grade3 {
  flex-wrap: wrap;
}
#grade1 {
  flex-wrap: wrap;
}
#pic {
  margin: 5px;
}
